# Ignore byte-compiled Python code.
*.py[cod]

# Ignore common venv names.
/*venv/

# Ignore setup files created by install.sh.
*.egg-info
/build/
/lab2d/

# Ignore saved models.
/meltingpot/assets/

# Ignore results.
/examples/results/
/examples/rllib/.results/
/examples/rllib/.videos/
