# Ignore byte-compiled Python code
*.py[cod]

# Ignore default venv created by install.sh
venv/

# Ignored because these are saved agent models added by the pettingzoo example.
examples/results/
*.egg-info
