# Ignore byte-compiled Python code.
*.py[cod]

# Ignore common venv names.
/*venv/

# Ignore setup files created during pip install.
*.egg-info
/assets/
/build/

# Ignore lab2d repo created by ./install-dmlab2d.sh.
/lab2d/

# Ignore saved models.
/examples/results/
/meltingpot/assets/
