absl-py==1.4.0
dm-env==1.6
dm-meltingpot==2.2.0
dm-tree==0.1.8
dmlab2d==1.0.0
gymnasium==0.26.3
matplotlib==3.7.2
ml-collections==0.1.1
numpy==1.24.3
pettingzoo==1.23.1
ray[rllib,default]==2.5.0
stable-baselines3==2.0.0
SuperSuit==3.9.0
tensorflow-probability==0.20.1
torch==2.0.1
