# Extra requirements for the Melting Pot examples.
absl_py
dm_env
dm_tree
dmlab2d
gymnasium
matplotlib
ml_collections
numpy==1.24.4
ray[rllib,default]==2.5.0
scipy==1.10.1
jax==0.4.13
jaxlib==0.4.13
chex==0.1.7
typing_extensions==4.5.0
supersuit>=3.7.2
torch
tensorflow==2.13.1
tensorflow-probability==0.21.0
