# Continuous integration tests.

name: meltingpot-tests

on:
  push:
    branches:
      - main
    paths-ignore:
      - '**.md'
      - 'examples/**'
  pull_request:
    branches:
      - main
    paths-ignore:
      - '**.md'
      - 'examples/**'
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

jobs:
  run-meltingpot-tests:
    name: Test Melting Pot
    runs-on: ${{ matrix.os }}
    timeout-minutes: 30
    strategy:
      fail-fast: true
      matrix:
        os:
          - macos-latest
          - ubuntu-latest
        python-version:
          - 3.7
          - 3.8
          - 3.9
    steps:
      - name: Checkout Melting Pot
        uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python_version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install and test Melting Pot
        run: ./install.sh
