# Continuous integration tests.

name: meltingpot-tests

on:
  push:
    branches:
      - main
    paths-ignore:
      - '**.md'
  pull_request:
    branches:
      - main
    paths-ignore:
      - '**.md'
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

# Declare default permissions as read only.
permissions: read-all

jobs:
  pylint:
    name: Lint Melting Pot
    runs-on: ubuntu-latest
    timeout-minutes: 5
    strategy:
      fail-fast: ${{ github.event_name != 'workflow_dispatch' }}
    steps:
      - name: Checkout Melting Pot
        uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c
      - name: Set up Python 3.9
        uses: actions/setup-python@d27e3f3d7c64b4bbf8e4abfb9b63b83e846e0435
        with:
          python-version: '3.9'
      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pylint
      - name: Run PyLint
        run: pylint --disable=C,W,R --recursive=y meltingpot examples

  run-meltingpot-tests:
    name: Test Melting Pot
    runs-on: ${{ matrix.os }}
    env:
      SYSTEM_VERSION_COMPAT: 0  # See https://github.com/actions/setup-python/issues/279.
    timeout-minutes: 90
    strategy:
      fail-fast: ${{ github.event_name != 'workflow_dispatch' }}
      matrix:
        os:
          - macos-latest
          - ubuntu-latest
        python-version:
          - '3.9'
    steps:
      - name: Checkout Melting Pot
        uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c
      - name: Set up Python ${{ matrix.python_version }}
        uses: actions/setup-python@d27e3f3d7c64b4bbf8e4abfb9b63b83e846e0435
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install and test Lab2d
        run: ./install-dmlab2d.sh
      - name: Install and test Melting Pot
        run: ./install-meltingpot.sh
      - name: Install and test Extras
        run: ./install-extras.sh
