name: test-examples

on:
  push:
    branches:
      - main
    paths:
      - '.github/actions/install-examples/action.yml'
      - '.github/actions/install-meltingpot/action.yml'
      - '.github/workflows/test-examples.yml'
      - '.pylintrc'
      - 'examples/**'
      - 'meltingpot/**'
      - 'pyproject.toml'
      - 'setup.py'
  pull_request:
    branches:
      - main
    paths:
      - '.github/actions/install-examples.yml'
      - '.github/actions/install-meltingpot.yml'
      - '.github/workflows/test-examples.yml'
      - '.pylintrc'
      - 'examples/**'
      - 'meltingpot/**'
      - 'pyproject.toml'
      - 'setup.py'
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

permissions: read-all

jobs:
  test-examples:
    name: Test examples
    runs-on: ubuntu-latest
    timeout-minutes: 90
    steps:
      - name: Checkout Melting Pot
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683

      - name: Install examples
        uses: ./.github/actions/install-examples

      - name: Test examples
        run: pytest examples

      - name: Lint examples
        run: pylint --errors-only examples

      - name: Typecheck examples
        run: pytype examples
